src/*.table
*.o
src/*.output
src/opcode.att
src/opcode.intel
src/opcode.enum
src/opcode.names
src/opcode.l32_transform
src/att.output
src/att.tab.c
src/att.tab.h
src/lex.att.c
src/assembler.decl
src/assembler.defn
src/assembler.switch
doc/reference.html
src/Codegen
test/*.s
.~lock*
codegen/latency